body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 2rem;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    font-size: 2.5rem; 
    color: #004080;
}

h2 {
    font-size: 1.75rem;
    color: #0066cc;
    margin-top: 2rem;
}

ul {
    list-style-type: disc;
    margin-left: 2rem;
    font-size: 1rem;
}

li {
    margin-bottom: 0.5em;
}

img {
  width: 400px;      
  height: auto;      
}